body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fafafa;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navigation Bar Changes */
.navbar-inverse {
    background-color: #8d819e;
    border-color: #412e5e;
    border-radius: 0;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #412e5e;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #412e5e;
}
.navbar-inverse .navbar-text {
    color: #FFF;
}
.navbar-inverse .navbar-toggle {
    border-color: #412e5e;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #412e5e;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFF;
}

/*LoginPartial*/
.login-text, .dropdown-menu > li > a {
    color: #412e5e;
    font-weight: bold;
}
.login-text li{
    color: #412e5e;
    font-weight: bold;
}

/*About page styling*/
.about-header {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffb612;
    color: #412e5e;
    font-weight: bold;
    text-align: center;
}
.values-card {
    background-color: #412e5e;
    color: #ffb612;
    text-align: center;
    box-shadow: 5px 5px #888888;
    margin: 10px;
    padding-top: 20px;
    padding-bottom:20px;
}

#valueHeaders {
    text-decoration:underline;
    font-weight:bold;
}

.btn-values {
    background-color: #ffb612;
    color: #412e5e;
}

.btn-values:hover {
    background-color: #d4980f;
    color: #5e4388;
}

.btn-values:focus {
    background-color: #d4980f;
    color: #5e4388;
}

.btn-values:active {
    background-color: #d4980f;
    color: #5e4388;
}

.lineSpacer {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr-about {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid #412e5e;
    margin: 1em 0;
    padding: 0;
}
/*Home Page Styling*/
carousel-text {
    color: #412e5e;
    font-weight: bold;
}
/*RecognitionModels Index Page*/
.recent-News-Header {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffb612;
    color: #412e5e;
    font-weight: bold;
    text-align: center;
    height: 150%;
    padding: 25px;
}

.rec-header {
    color: #412e5e;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.btn-SwitchView {
    background-color: #412e5e;
    color: #ffb612;
    border: #412e5e;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}
.btn-SwitchView:link {
    background-color: #5e4388;
    color: #ffb612;
    border: #5e4388;
}
.btn-SwitchView:visited {
    background-color: #5e4388;
    color: #ffb612;
    border: #5e4388;
}
.btn-SwitchView:hover {
    background-color: #5e4388;
    color: #ffb612;
    border: #5e4388;
}
.btn-SwitchView:active {
    background-color: #5e4388;
    color: #ffb612;
    border: #5e4388;
}
.btn-SwitchView:after {
    background-color: #5e4388;
    color: #ffb612;
    border: #5e4388;
}
.btn-SwitchView::after(1) {
    background-color: #5e4388;
    color: #ffb612;
    border: #5e4388;
}


/*Footer*/

.layout-footer {
    text-align: center;
    align-content: center;
    background: #8d819e;
    margin-top: 20px;
    color:white;
}
.footer-social {
    text-align: center;
    align-content: center;
    margin-top: 20px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

/*Modal Editting*/
.modal-dialog {
    width: 800px;
}
.modal-sm {
    width: 400px;
}

