@{
    ViewBag.Title = "Error/Access Denied!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 style="margin-top: 100px; color:black;">
        <strong>Oops.. Looks like you tried to access something that you do not have access to!</strong>
    </h2>
    <div>
        <h2 style="color: black;">
            <strong>
                You will be redirected to the home page in...
            </strong>
            <strong>
                <a style="color:black; "id="counter">8</a>
            </strong>
        </h2>
    </div>

    <div class="col-lg-4 col-lg-offset-4" style="margin-top:50px;">
        <img src="~/Images/denied.png" style="width:75%;">
    </div>
    
    <br />
    <br />
</div>

<!--Script for timer to redirect-->
<script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/MIS4200Team5");
            }
        }, 1000);
</script>

