@{
    ViewBag.Title = "Error/Access Denied!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 about-header">
            <h1><strong>Oops.. Looks like you tried to access something that you do not have access to!</strong></h1>
            <h2>
                <strong>
                    You will be redirected to the home page in...
                </strong>
                <strong>
                    <a style="color:black; " id="counter">8</a>
                </strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="margin-top:50px;align-content:center;text-align:center;">
            <img src="~/Images/denied.png" style="width:25%;height:25%;">
        </div>
    </div>
    
    <br />
    <br />
</div>

<!--Script for timer to redirect-->
<script>
        setInterval(function() {
            var div = document.querySelector("#counter");
            var count = div.textContent * 1 - 1;
            div.textContent = count;
            if (count <= 0) {
                window.location.replace("/MIS4200Team5");
            }
        }, 1000);
</script>

