
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style=" padding:20px; color:red">
    <h3>
        My Own Created Error Page:
    </h3>
    <h4>
        Sorry, The Page, You are Looking for File is not found Or Controller Name / Controller Action Method Name Not There.
    </h4>
    
    <br />
    <br />
</div>

