@{
    ViewBag.Title = "About Centric and Our Values";
}
<h2>@ViewBag.Title</h2>


<div class="container">
    <div class="col-md-7 col-md-offset-5">
        <div class="row" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-md-5 col-md-offset-1" style="text-align:center;">
                <i class="glyphicon glyphicon-exclamation-sign" style="font-size:400%;color:#412e5e;"></i>
                <h3>Integrity and Openness</h3>
                <h4>Embrace Integrity and Openness</h4>
                <p>
                    We set and live by the highest ethical standards in all our
                    dealings whether it is internal or external – we do the right thing for our
                    clients, associates and company.
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1" style="text-align:center;">
                <i class="glyphicon glyphicon-certificate" style="font-size:400%;color:#412e5e;"></i>
                <h3>Innovation</h3>
                <h4>Strive to Innovate</h4>
                <p>
                    We constantly seek to foster an entrepreneurial, hard working, fun loving culture that encourages
                    innovation and prudent individual or team risk taking within the context of our core values.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-md-5 col-md-offset-1" style="text-align:center;">
                <i class="glyphicon glyphicon-level-up" style="font-size:400%;color:#412e5e;"></i>
                <h3>Stewardship</h3>
                <h4>Practice Responsible Stewardship</h4>
                <p>
                    We guard and conserve company resources as if they were our own because it makes good business
                    sense at all times; not just during lean times.   We invest in areas which will contribute to the
                    long-term sustainability of our company.
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1" style="text-align:center;">
                <i class="glyphicon glyphicon-tree-deciduous" style="font-size:400%;color:#412e5e;"></i>
                <h3>Greater Good</h3>
                <h4>Ignite Passion for the Greater Good</h4>
                <p>
                    We actively seek innovative ways to safeguard the environment
                    and make a positive difference in every community we serve.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-md-5 col-md-offset-1" style="text-align:center;">
                <i class="glyphicon glyphicon-send" style="font-size:400%;color:#412e5e;"></i>
                <h3>Delivery Excellence</h3>
                <h4>Commit to Delivery Excellence</h4>
                <p>
                    In our dealings with clients we strive to first understand the
                    client’s needs and then deliver on our commitments 100% of the time!
                </p>
            </div>
            <div class="col-md-5 col-md-offset-1" style="text-align:center;">
                <i class="glyphicon glyphicon-user" style="font-size:400%;color:#412e5e;"></i>
                <h3>Culture</h3>
                <h4>Invest in an Exceptional Culture</h4>
                <p>
                    We go to extraordinary lengths to hire the best and then make sure they are
                    welcomed into a fun and diverse work environment where team collaboration is
                    the rule rather than the exception.
                </p>
            </div>
        </div>
        <div class="row" style="margin-top:20px;margin-bottom:20px;">
            <div class="col-md-5 col-md-offset-4" style="text-align:center;">
                <i class="glyphicon glyphicon-home" style="font-size:400%;color:#412e5e;"></i>
                <h3>Balance</h3>
                <h4>Live a Balanced Life</h4>
                <p></p>
            </div>
        </div>
    </div>
</div>
