@{
    ViewBag.Title = "About Centric and Our Values";
}
<h2>@ViewBag.Title</h2>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <!--Embeded Twitter Feed. For more details vists https://publish.twitter.com/ -->
                    <a class="twitter-timeline" data-height="500" data-width="400" data-theme="light" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
                </div>
                <div class="col-md-12">
                    <div class="fb-page" data-href="https://www.facebook.com/CentricConsultingNational/" data-tabs="timeline" data-width="400" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/CentricConsultingNational/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CentricConsultingNational/">Centric Consulting</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 values-card">
                    <i class="glyphicon glyphicon-exclamation-sign" style="font-size:400%;"></i>
                    <h3>Integrity & Openness</h3>
                    <h4>Embrace Integrity and Openness</h4>
                    <p>
                        We set and live by the highest ethical standards in all our
                        dealings whether it is internal or external – we do the right thing for our
                        clients, associates and company.
                    </p>
                </div>
                <div class="col-md-4 col-md-offset-5 values-card">
                    <i class="glyphicon glyphicon-certificate" style="font-size:400%;"></i>
                    <h3>Innovation</h3>
                    <h4>Strive to Innovate</h4>
                    <p>
                        We constantly seek to foster an entrepreneurial, hard working, fun loving culture that encourages
                        innovation and prudent individual or team risk taking within the context of our core values.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 values-card">
                    <i class="glyphicon glyphicon-level-up" style="font-size:400%;"></i>
                    <h3>Stewardship</h3>
                    <h4>Practice Responsible Stewardship</h4>
                    <p>
                        We guard and conserve company resources as if they were our own because it makes good business
                        sense at all times; not just during lean times. We invest in areas which will contribute to the
                        long-term sustainability of our company.
                    </p>
                </div>
                <div class="col-md-4 col-md-offset-5 values-card">
                    <i class="glyphicon glyphicon-tree-deciduous" style="font-size:400%;"></i>
                    <h3>Greater Good</h3>
                    <h4>Ignite Passion for the Greater Good</h4>
                    <p>
                        We actively seek innovative ways to safeguard the environment
                        and make a positive difference in every community we serve.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 values-card">
                    <i class="glyphicon glyphicon-send" style="font-size:400%;"></i>
                    <h3>Delivery Excellence</h3>
                    <h4>Commit to Delivery Excellence</h4>
                    <p>
                        In our dealings with clients we strive to first understand the
                        client’s needs and then deliver on our commitments 100% of the time!
                    </p>
                </div>
                <div class="col-md-4 col-md-offset-5 values-card">
                    <i class="glyphicon glyphicon-user" style="font-size:400%;"></i>
                    <h3>Culture</h3>
                    <h4>Invest in an Exceptional Culture</h4>
                    <p>
                        We go to extraordinary lengths to hire the best and then make sure they are
                        welcomed into a fun and diverse work environment where team collaboration is
                        the rule rather than the exception.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 values-card">
                    <i class="glyphicon glyphicon-home" style="font-size:400%;"></i>
                    <h3>Balance</h3>
                    <h4>Live a Balanced Life</h4>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
